*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.filtro{
    display: none;
}


/* menu */
.menu{
    display: none;
    background-color: white;
    height: 50vh;
    width: 50vw;
    position: fixed;
    right: 15px;
    bottom: 15px;
    border-radius: 19px;
    z-index: 1;
    text-align: center;
  }


.ajustes{
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}

.categorias{
    padding: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    text-decoration: none;
    color: black;
}
/* fin menu */

header{
    padding: 10px 0px;
    text-align: center;
}
.buscar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}
.search{
    height: 35px;
    width: 80%;
    border: none;
    background-color: white;
    border-radius: 9px;
    padding-left: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.287);    
}
main{
    padding: 10px;
    padding-bottom: 40px;
}

.prendas{
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.287);    
    width: 95vw;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 9px;
}
.info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
ul{
    list-style: none;
}

footer{
    position: fixed;
    bottom: 5px;
    overflow: scroll;
    display: flex;
    gap: 5px;
    flex-wrap: nowrap;
    background-color: bisque;
}











.carousel {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
    touch-action: pan-y;
  }
  
  .carousel img {
    width: 100%;
  }
  
  